# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/
*.egg-info/
.coverage
htmlcov/
build/
dist/

# Node / Angular
node_modules/
*.log
.angular/
dist/

# CDK
infra/cdk/cdk.out/
infra/cdk/.cdk.staging/

# Editors
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.local
